<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--  
		[mybatis 설정 참고 사이트]
		- https://mybatis.org/mybatis-3/getting-started.html
		- configuration dtd를 설정할 수 있도록 제공
		
		# 카멜케이스 설정
		- mapUnderscoreToCamelCase true 설정
		[마이바티스] 스프링에서 "_"를 사용한 컬럼명을 사용 시, (BOOK 테이블의 BOOK_ID) 카멜케이스로 읽어줍니다.
		> BOOK_ID를 bookId로 읽어줌
		ex) 테이블 컬럼명이 member_id인 경우 jsp화면단에서 이 값을 출력 시 memberId로 사용
	  -->
<settings>
<setting name="mapUnderscoreToCamelCase" value="true"/>
</settings>
<!--  자주 사용하는 타입의 별칭을 셋팅  -->
<typeAliases>
<typeAlias type="kr.or.ddit.vo.moduleVO" alias="moduleVO"/>
<typeAlias type="kr.or.ddit.vo.pay" alias="pay"/>
</typeAliases>
</configuration>